@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root {
    --tamanho-texto-base: 24px

  }

  html, body{
    padding:0;
    margin:0;
    width:100%;
    height:100%;
    overflow-x:hidden;
}

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
} /* seletor universal */ 

.nav{
    background-color: red;
    height: 80px; /* altura fixa */
    
    display:flex;
    flex-direction:row;
    justify-content:space-between;
    align-items:center;

    padding:0 25px;
}

.links{
    color:white;
    font-family:inter;
    font-size:var(--tamanho-texto-base);

    display:flex;
    gap:30px;
    align-items:center;
}

.links a:hover{
    color:black;
    cursor:pointer;
}

.img_logo{
    height:35px;
    width:auto;
}

.conteudo{
    background-image:linear-gradient(rgba(0, 0, 0, 0.233), rgba(0, 0, 0, 0.5)),url(./src/img/imagem_fundo.avif);
    width:100vw;
    height:calc(100vh - 80px);
    background-size:cover;
    background-position:center;
    background-repeat:no-repeat;
    box-shadow: inset 0px 0px 1200px 9px #000000;

}